<header>
    <img src="~/img/HomeSweet.jpg" id="logo" alt="logo">
    <nav class="navbar">
        <ul>
            <li><a href="#product">Ürünlerimiz</a></li>
            <li><a href="#services">Hizmetlerimiz</a></li>
            <li><a href="#contact">İletişim</a></li>
        </ul>
        <div class="d-flex justify-content-center h-100">
            <div class="search">
                <input type="text" class="search-input" placeholder="search.." id="arama-yazma" name="arama-butonu">
                <a href="#" class="search-icon" id="arama-butonu">
                    <i class="fa fa-search">Ara</i>
                </a>
            </div>
        </div>
    </nav>


</header>